@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Biryani&family=Mada:wght@400;500&display=swap');

%logo-font {
  font-family: 'Audiowide', cursive;
}

%primary-font {
  font-family: 'Mada', sans-serif;
}

%secondary-font {
  font-family: 'Biryani', sans-serif;
}