@use "utilities/fonts" as *;

@mixin curriculum() {
  .curriculum-container {
    position: relative;

    .curriculum {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: #{"min(20vw, 10em) 0 min(10vw, 5em) 0"};

      .avatar-container {
        border: 1px solid #0000001f;
        border-radius: 50em;
        width: #{"min(17vw, 7em)"};
        height: #{"min(17vw, 7em)"};
        background-color: #cae4db;
        position: absolute;
        top: #{"max(-12vw, -6em)"};

        .avatar {
          width: 100%;
          clip-path: circle();
        }
      }

      .curriculum-body {
        width: 100%;
        border-radius: 12px;
        background-color: #F0F0F0;
        padding: #{"min(8vw, 4em) min(3vw, 3em)"};
        font-size: clamp(0.8rem, 1vw, 1rem);
        @extend %secondary-font;

        .first-curriculum-section {
          text-align: center;
          border-bottom: 1px solid #00000017;

          .technical-skills {
            margin-bottom: .7em;
          }

          p {
            margin: #{"min(1vw, 2em) 0"};
          }

          & > p {
            margin: #{"min(2vw, 2em) 0"};
          }

          .curriculum-title {
            font-size: clamp(0.9rem, 4vw, 1.5rem);
            margin-bottom: #{"min(3vw, 2em)"};
          }

          .skills {
            display: flex;
            list-style: none;
            width: 65%;
            margin: 1em auto;
            align-items: center;
            justify-content: center;

            .first-separator {
              display: none;
            }

            @media (max-width: 1000px) {
              flex-direction: column;
              & .first-separator {
                display: block;
              }
            }


            .separator {
              width: .6em;
              height: .6em;
              background-color: #2a6781;
              border-radius: 50em;
              margin: #{"0 min(1vw, 1em)"};
            }

            .first-skills-set,
            .second-skills-set,
            .third-skills-set, {
              display: flex;
              align-items: center;

              & .skill-container {
                width: max-content;
                display: flex;
                align-items: center;
              }
            }
          }
        }

        .second-curriculum-section {
          display: flex;
          margin-top: 2em;
          justify-content: space-evenly;

          h3 {
            margin-bottom: 1em;

            &:nth-of-type(2) {
              margin: 1em 0;
            }
          }

          @media (max-width: 768px) {
            flex-direction: column;
          }

          .angular-react {
            padding: 0 3em;
            @media (max-width: 768px) {
              padding: 0;
            }
          }

          .net-core {
            width: 30%;
            @media (max-width: 768px) {
              width: 100%;
            }
          }

          li {
            list-style: none;
            background-image: url("../../src/assets/circle.svg");
            background-repeat: no-repeat;
            background-size: 0.8em;
            background-position: left center;
            padding: .5em 0 .5em 2em;
          }

          @media (max-width: 450px) {
            & > div {
              margin: 1em 0;
            }
          }
        }
      }
    }
  }
}
