@use "utilities/fonts" as *;
@use "utilities/spinner" as s;

@mixin email-form() {
  .core {
    font-size: clamp(0.8rem, 2vw, 1.5rem);

    h1 {
      font-size: inherit;
      text-align: center;
      margin-bottom: 2em;
    }

    .form-container {
      display: flex;
      justify-content: space-between;

      @media (max-width: 425px) {
        justify-content: stretch;
        .location {
          display: none;
        }
      }

      .location {
        font-size: clamp(0.7rem, 1.6vw, 1.2rem);
      }

      .forms {
        width: 70%;
        font-size: clamp(0.7rem, 1vw, 1rem);

        @media (max-width: 425px) {
          width: 100%;
        }

        #username,
        #email,
        #message {
          padding: .5rem;
          font-size: inherit;
          width: 100%;
        }

        & div:first-child {
          display: flex;
          justify-content: space-between;
        }

        .submit-container {
          display: flex;
          align-items: center;
          margin-top: 2em;
          height: 4em;

          @include s.loading-spinner();

          .message-sent-successfully,
          .message-sent-failed {
            display: none;
            align-items: center;

            svg {
              padding: 0 1em;
            }
          }

          .status-display {
            display: none;
          }

          .message-sent-successfully {
            p {
              color: green;
            }
          }

          .message-sent-failed {
            p {
              color: red;
            }
          }

          button {
            cursor: pointer;
            padding: 1em 3.5em;
            border: none;
            color: currentColor;
            background-color: #cae4db;
            display: inline-block;
            width: 11em;
            border-radius: 50em;
            text-align: center;
            font-size: clamp(0.7rem, 1vw, 1rem);

            &:disabled,
            &:disabled:hover {
              background-color: #d8d8d8;
            }

            &:hover {
              background-color: darken(#cae4db, 10%);
            }
          }
        }
      }

      .message {
        margin-top: 2em;
      }

      .username,
      .email {
        width: 47%;
      }

      .username,
      .email,
      .message {
        position: relative;

        .message-label {
          top: .5rem;
        }

        #message {
          width: 100%;
        }

        label {
          position: absolute;
          padding-left: 0.5em;
          top: calc(50% - 0.5rem);
          color: #606060;
        }

        input,
        textarea {
          border: 1px solid #cfcfcf;
          border-radius: 4px;
          padding: 0.6em 0;
          background-color: #f0f0f0;
        }
      }
    }
  }
}