@mixin footer() {
  footer {
    height: clamp(3.7em, 15vw, 8em);
    width: 100%;
    position: relative;

    .footer-container {
      position: absolute;
      bottom: clamp(0.2em, 1vw, 2em);
      left: 8%;
      height: clamp(2.6em, 10vw, 5em);
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .github {
        background-image: url(../../src/assets/logos/github.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 6%;
      }

      .divider {
        width: 90%;
        border-top: 1px solid;
        border-color: #ffffff66;
      }

      p {
        margin-top: 7px;
        color: #ffffffcf;
        font-size: clamp(0.6rem, 1.5vw, 1rem);
      }
    }

    .footer-image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: 0 98%;
      border-radius: 50px 50px 0 0;
    }
  }
}