@use "utilities/fonts" as *;
@use "./jobs-icons-sets" as *;

@mixin job-display() {
  .jobs {
    display: grid;
    grid-template-areas: "description image"
                         "description icons"
                         "description obs";

    @media (max-width: 740px) {
      grid-template-areas: "description description"
                           "image image"
                           "icons icons"
                           "obs obs";
    }

    .job-description {
      grid-area: description;
      padding-right: 10em;
      font-size: clamp(0.5rem, 1vw, 1rem);

      h2 {
        margin-bottom: 2em;
        font-size: clamp(1rem, 2vw, 1.6rem);

        & + p {
          margin-bottom: 2em;
        }
      }

      p {
        @extend %secondary-font;
      }
    }

    .job-image {
      grid-area: image;
      transition: transform .3s;

      &:hover {
        transform: scale(1.01);
        cursor: pointer;
      }

      img {
        height: 100%;
        width: 85%;
      }
    }

    @extend %icons-sets;

    .obs {
      grid-area: obs;

      p {
        @extend %secondary-font;
        font-size: clamp(0.3rem, 0.7vw, 0.7rem);
      }
    }
  }
}