%icons-sets {
  .job-icons-set {
    margin: #{"min(1vw, 2em)"} 0;
    display: flex;
    grid-area: icons;
    flex-direction: column;
    justify-self: center;

    .job-icons-row {
      margin: .3em 0;
      display: flex;
    }

    .job-icon-container {
      border: 1px solid #00000036;
      width: #{"min(8vw, 2.3em)"};
      height: #{"min(8vw, 2.3em)"};
      border-radius: 50em;
      margin: 0 1em;
    }

    .sass {
      background-image: url("../assets/logos/this/sass.svg");
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 116%;
      background-position: center;
    }

    .webpack {
      background-image: url("../assets/logos/this/webpack.svg");
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: center;
    }

    .azure-webstatic {
      background-image: url("../assets/logos/this/static-apps.svg");
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }

    .azure-functions {
      background-image: url("../assets/logos/this/azurefunctions-icon.svg");
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }

    .github-actions {
      background-image: url("../assets/logos/this/githubactions.svg");
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }

    .azure {
      background-image: url("../assets/logos/fakecommerce/azure.svg");
      height: 100%;
      width: 100%;
      background-size: 81%;
      background-repeat: no-repeat;
      background-position: center 30%;
    }

    .docker {
      background-image: url("../assets/logos/fakecommerce/docker.svg");
      height: 100%;
      width: 100%;
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .stripe {
      background-image: url("../assets/logos/fakecommerce/stripe.svg");
      height: 100%;
      width: 100%;
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .postgres {
      background-image: url("../assets/logos/fakecommerce/postgres.svg");
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .react {
      background-image: url("../assets/logos/fakecommerce/react.svg");
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .redis {
      background-image: url("../assets/logos/fakecommerce/redis.svg");
      height: 100%;
      width: 100%;
      background-size: 97%;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .netcore {
      background-image: url("../assets/logos/fakecommerce/netcore.svg");
      height: 100%;
      width: 100%;
      background-size: 86%;
      background-repeat: no-repeat;
      background-position: center;
    }

    .typescript {
      background-image: url("../assets/logos/fakecommerce/typescript.svg");
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      clip-path: circle(44%);
    }
  }
}