@import "./fonts";
@import "./marketing-stripes";
@import "jobs-icons-sets";
@import "./footer";
@import "./jobs-display";
@import "./curriculum";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include primary-font();
}

body {
  background-image: url("../../src/assets/cubes.png");
  background-position: center center;
  background-repeat: repeat;
}

.main-container {
  width: #{"min(90vw, 1880px)"};
  margin: 0 auto;
}

.container-props {
  border-radius: 10px;
  background-color: #006989d4;
}

.core {
  border-left: 1px solid #00000021;
  border-right: 1px solid #00000021;
  width: 100%;
  margin: 7% 0 5% 0;
  padding: 0 4%;
}

@include top-marketing-stripe();

@include job-display();

.container {
  position: relative;

  .landing-image {
    height: 120px;
    width: 100%;
    clip-path: ellipse(65% 65% at 50% 33%);

    img {
      object-fit: cover;
      object-position: 0 90%;
      width: 100%;
      height: 100%;
      filter: brightness(0.6);
    }
  }

  .header {
    height: 60px;
    position: absolute;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 15px;
    left: 8%;

    .nav {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 100%;
        width: max-content;
        display: flex;
        align-items: center;

        img {
          margin-left: 5em;
          width: 5em;
          height: 100%;
        }

        span {
          color: white;
          font-size: 1.5rem;
          @include logo-font();
        }
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        width: 40%;
        color: white;
        font-size: 1rem;
        font-weight: 500;

        li {
          width: 100%;
        }
      }
    }
  }

  .landing-core {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: auto auto 100px auto;
    grid-template-columns: 44% minmax(auto, 40em);
    grid-template-areas: "name person"
                           "role person"
                           "button person"
                           ". person";

    .name {
      grid-area: name;
      @include logo-font();
      font-size: 2.2rem;
    }

    .role {
      grid-area: role;
      @include secondary-font();
      font-size: 1.3rem;
    }

    .land-person {
      grid-area: person;
      width: 100%;
      height: 510px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .button {
      grid-area: button;
      text-decoration: none;
      color: currentColor;
      background-color: #cae4db;
      display: inline-block;
      width: 11em;
      border-radius: 50em;
      padding: 1em;
      text-align: center;

      &:hover {
        background-color: darken(#cae4db, 10%);
      }
    }
  }
}

@include middle-marketing-stripe();

@include curriculum();

@include footer();

