@import "./fonts";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include primary-font();
}

body {
  background-image: url("../../src/assets/cubes.png");
  background-position: center center;
  background-repeat: repeat;
}

.main-container {
  width: #{"min(90vw, 1880px)"};
  margin: 0 auto;
}

.container-props {
  border-radius: 10px;
  background-color: #006989d4;
}

.core {
  border-left: 1px solid #00000021;
  border-right: 1px solid #00000021;
  width: 100%;
  margin: 7% 0 5% 0;
  padding: 0 4%;
}

.marketing-stripe {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  position: relative;

  .marketing-stripe-background {
    background-image: linear-gradient(0.25turn, transparent 0%, #23577129 34%, #f6c8a1 92%);
    width: 100%;
    display: flex;
    align-items: center;

    .slogan {
      @include logo-font();
      font-size: 1.5rem;
      color: #00000096;
    }
  }

  img {
    object-fit: none;
    object-position: 0 20%;
    width: 50%;
    height: 100%;
    position: absolute;
  }
}

.jobs {
  display: grid;
  grid-template-areas: "description image"
                       "description icons"
                       "description obs";

  .job-description {
    grid-area: description;
    padding-right: 10em;

    h2 {
      font-size: 1.6rem;
      margin-bottom: 2em;

      & + p {
        margin-bottom: 2em;
      }
    }

    p {
      @include secondary-font();
    }
  }

  .job-image {
    grid-area: image;
    transition: transform .3s;

    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }

    img {
      height: 100%;
      width: 85%;
    }
  }

  .job-icons-set {
    margin: 2em 0;
    display: flex;
    grid-area: icons;
    flex-direction: column;
    justify-self: center;

    .job-icons-row {
      margin: .3em 0;
      display: flex;
    }

    .different-margins-left {
      margin: 0 1.5em 0 3em;
    }

    .different-margins-right {
      margin: 0 3em 0 1.5em;
    }

    .margins-middle {
      margin: 0 1.5em;
    }

    .job-icon-container {
      border: 1px solid #00000036;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50em;
    }

    .azure {
      background-image: url("../../src/assets/logos/azure.svg");
      height: 100%;
      width: 100%;
      background-size: 81%;
      background-repeat: no-repeat;
      background-position: center 30%;
    }

    .docker {
      background-image: url("../../src/assets/logos/docker.svg");
      height: 100%;
      width: 100%;
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .stripe {
      background-image: url("../../src/assets/logos/stripe.svg");
      height: 100%;
      width: 100%;
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .postgres {
      background-image: url("../../src/assets/logos/postgres.svg");
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .react {
      background-image: url("../../src/assets/logos/react.svg");
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .redis {
      background-image: url("../../src/assets/logos/redis.svg");
      height: 100%;
      width: 100%;
      background-size: 97%;
      background-repeat: no-repeat;
      background-position: center 54%;
    }

    .netcore {
      background-image: url("../../src/assets/logos/netcore.svg");
      height: 100%;
      width: 100%;
      background-size: 86%;
      background-repeat: no-repeat;
      background-position: center;
    }

    .typescript {
      background-image: url("../../src/assets/logos/typescript.svg");
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      clip-path: circle(44%);
    }
  }

  .obs {
    grid-area: obs;

    p {
      @include secondary-font();
      font-size: .7rem;
    }
  }
}

.container {
  position: relative;

  .landing-image {
    height: 120px;
    width: 100%;
    clip-path: ellipse(65% 65% at 50% 33%);

    img {
      object-fit: cover;
      object-position: 0 90%;
      width: 100%;
      height: 100%;
      filter: brightness(0.6);
    }
  }

  .header {
    height: 60px;
    position: absolute;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 15px;
    left: 8%;

    .nav {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 100%;
        width: max-content;
        display: flex;
        align-items: center;

        img {
          margin-left: 5em;
          width: 5em;
          height: 100%;
        }

        span {
          color: white;
          font-size: 1.5rem;
          @include logo-font();
        }
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        width: 40%;
        color: white;
        font-size: 1rem;
        font-weight: 500;

        li {
          width: 100%;
        }
      }
    }
  }


  .landing-core {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: auto auto 100px auto;
    grid-template-columns: 44% minmax(auto, 40em);
    grid-template-areas: "name person"
                           "role person"
                           "button person"
                           ". person";

    .name {
      grid-area: name;
      @include logo-font();
      font-size: 2.2rem;
    }

    .role {
      grid-area: role;
      @include secondary-font();
      font-size: 1.3rem;
    }

    .land-person {
      grid-area: person;
      width: 100%;
      height: 510px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .button {
      grid-area: button;
      text-decoration: none;
      color: currentColor;
      background-color: #cae4db;
      display: inline-block;
      width: 11em;
      border-radius: 50em;
      padding: 1em;
      text-align: center;

      &:hover {
        background-color: darken(#cae4db, 10%);
      }
    }
  }
}

footer {
  height: 120px;
  width: 100%;
  position: relative;

  .footer-container {
    position: absolute;
    bottom: 15px;
    left: 8%;
    height: 90px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .github {
      height: auto;
      width: 6%;
    }

    .divider {
      width: 90%;
      border-top: 1px solid;
      border-color: #ffffff66;
    }

    p {
      margin-top: 7px;
      color: #ffffffcf;
    }
  }

  .footer-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 0 98%;
    border-radius: 50px 50px 0 0;
  }
}

