@use "utilities/fonts" as *;

@mixin top-marketing-stripe() {
  .top-marketing-stripe {
    width: 100%;
    height: #{"min(19vw, 150px)"};
    display: flex;
    justify-content: flex-end;
    position: relative;

    .top-marketing-stripe-background {
      background-image: linear-gradient(0.25turn, transparent 0%, #23577129 34%, #f6c8a1 92%);
      width: 100%;
      display: flex;
      align-items: center;

      .slogan {
        @extend %logo-font;
        z-index: 2;
        font-size: clamp(0.8rem, 1.7vw, 1.5rem);
        color: #235771;
      }
    }

    img {
      object-fit: cover;
      object-position: top;
      width: 50%;
      height: 100%;
      position: absolute;
      padding-left: #{"min(30vw, 10em)"};
    }

    @media (max-width: 425px) {
      .top-marketing-stripe-background {
        background-image: none;
        background-color: #2a6781;

        .slogan {
          color: #ededed;
        }
      }
      img {
        filter: opacity(.3);
      }
    }
  }
}

@mixin middle-marketing-stripe() {
  .middle-marketing-stripe {
    width: 100%;
    height: #{"min(19vw, 150px)"};
    display: flex;
    justify-content: flex-end;
    position: relative;

    .middle-marketing-stripe-background {
      background-image: linear-gradient(0.25turn, transparent 0%, #23577117 37%, #f6c8a1 50%, rgba(255, 255, 255, 0) 92%);
      width: 100%;
      display: flex;
      align-items: center;

      .slogan {
        @extend %logo-font;
        font-size: clamp(0.8rem, 1.7vw, 1.5rem);
        color: #235771;
      }
    }

    img {
      object-fit: cover;
      object-position: 0 20%;
      width: 50%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }
  @media (max-width: 425px) {
    .middle-marketing-stripe {
      background-color: #2a6781;

      .middle-marketing-stripe-background {
        background-image: none;
        background-color: #77ab99;

        .slogan {
          color: #ededed;
        }
      }
      img {
        filter: opacity(.3);
      }
    }
  }
}

@mixin end-marketing-stripe() {
  .end-marketing-stripe {
    width: 100%;
    height: #{"min(19vw, 150px)"};
    display: flex;
    justify-content: flex-end;
    position: relative;

    .end-marketing-stripe-background {
      background-image: linear-gradient(0.25turn, #f5c6a057 22%, #23577138 41%, #23577138 53%, #23577114 64%, rgba(255, 255, 255, 0) 92%);
      width: 100%;
      display: flex;
      align-items: center;

      div {
        width: #{"min(90vw, 1880px)"};
        margin: 0 auto;
        text-align: end;

        .slogan {
          @extend %logo-font;
          font-size: clamp(0.8rem, 1.7vw, 1.5rem);
          color: #235771;
        }
      }
    }

    img {
      object-fit: cover;
      left: 0;
      object-position: 0 20%;
      width: 50%;
      height: 100%;
      position: absolute;
      padding-right: #{"min(30vw, 10rem)"};
    }

    @media (max-width: 425px) {
      .end-marketing-stripe-background {
        background-image: none;
        background-color: #2a6781;

        div {
          .slogan {
            color: #ededed;
          }
        }
      }
      img {
        filter: opacity(.3);
      }
    }
  }
}
